<div>
    <table>
        <tr valign="top">
            <td>
                <div style="height: auto; width: 200px;">
                    <b>Client id: {{ post.clientid }}</b><br />
                    {{ post.clientname }}<br />
                    {{ post.clientss }}<br />
                    {{ post.clientemail }}<br />
                    {{ post.clientphone }}<br />
                    {{ post.clientaddress }}<br />
                    {{ post.clientzip }}, {{ post.clientcity }}<br />
                    <p><a href="{{ url_for('editpost', clientid=post.clientid) }}">Edit</a></p>
                </div>
            </td>
            <td>
                <div style="height: auto; width: 300px;">
                    <b>Client info:</b><br />
                    {{ post.clientinfo }}<br />
                </div>
            </td>
        </tr>
    </table>
    <hr style="width: 300px; text-align:left; margin-left:100;">
</div>
