<div>
    <table class="table table-hover">
        <tr>
            <td width="70px">
                <div style="height: auto; width: 200px;">
                    <b>Client id: {{ post.clientid }}</b><br />
                    {{ post.clientname }}<br />
                    {{ post.clientss }}<br />
                    {{ post.clientemail }}<br />
                    {{ post.clientphone }}<br />
                    {{ post.clientaddress }}<br />
                    {{ post.clientzip }}, {{ post.clientcity }}<br />
                    <p><a href="{{ url_for('editpost', clientid=post.clientid) }}"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;<a href="{{ url_for('deletepost', clientid=post.clientid) }}"><i class="fas fa-trash-alt"></i></a></p>
                </div>
            </td>
            <td>
                <div style="height: auto; width: 300px;">
                    <b>Client info:</b><br />
                    {{ post.clientinfo|safe }}<br />
                </div>
            </td>
        </tr>
    </table>
    <hr style="width: 300px; text-align:left; margin-left:100;">
</div>
