<div>
    <table>
        <tr valign="top">
            <td>
                <div style="height: auto; width: 200px;">
                    <b>Client id: {{ spjald.client.clientid }}</b><br />
                    {{ spjald.client.clientname }}<br />
                    {{ spjald.client.clientss }}<br />
                    {{ spjald.client.clientemail }}<br />
                    {{ spjald.client.clientphone }}<br />
                    {{ spjald.client.clientaddress }}<br />
                    {{ spjald.client.clientzip }}, {{ spjald.client.clientcity }}<br />
                </div>
            </td>
            <td>
                <div style="height: auto; width: 300px;">
                    <b>Client info:</b><br />
                    {{ spjald.client.clientinfo }}<br />
                </div>
            </td>
        </tr>
    </table>
</div>
