<div>
    <table>
        <tr valign="top">
            <td>
                <div style="height: auto; width: 200px;">
                    <b>Client id: {{ spjold.clientid }}</b><br />
                    {{ spjold.clientname }}<br />
                    {{ spjold.clientss }}<br />
                    {{ spjold.clientemail }}<br />
                    {{ spjold.clientphone }}<br />
                    {{ spjold.clientaddress }}<br />
                    {{ spjold.clientzip }}, {{ spjold.clientcity }}<br />
                </div>
            </td>
            <td>
                <div style="height: auto; width: 300px;">
                    <b>Client info:</b><br />
                    {{ spjold.clientinfo }}<br />
                </div>
            </td>
        </tr>
    </table>
</div>
