<div>
  <table class="table table-hover">
    <tr>
      <td style="width: 300px;">
        <div>
          <strong>Client ID: {{ post.id }}</strong><br>
          <a href="{{ url_for('main.user', username=post.author.username) }}">
            {{ post.author.name|e }}
          </a>
          added: {{ moment(post.timestamp).fromNow() }}<br>
          <hr class="my-2" style="margin-left:20px; margin-right:180px;">
          {{ post.clientname|e }}<br>
          {{ post.clientss|e }}<br>
          {{ post.clientemail|e }}<br>
          {{ post.clientphone|e }}<br>
          {{ post.clientaddress|e }}<br>
          {{ post.clientzip|e }} {{ post.clientcity|e }}<br><br>
          <p>
            <a href="{{ url_for('main.editpost', id=post.id) }}" title="Edit">
              <i class="fas fa-edit"></i>
            </a>
            &nbsp;&nbsp;&nbsp;
            <a href="{{ url_for('main.deletepost', id=post.id) }}" title="Delete" 
               onclick="return confirm('Are you sure you want to delete this client?');">
              <i class="fas fa-trash"></i>
            </a>
          </p>
        </div>
      </td>
      <td>
        <div style="width: 400px;">
          <strong>Client info:</strong><br>
          {{ post.clientinfo|safe }}<br>
        </div>
      </td>
    </tr>
  </table>
</div>