{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Client List</h1>
<a href="{{ url_for('main.addpost') }}" class="btn btn-primary">Add Client</a>
<ul>
  {% for post in posts %}
    <li>
      <a href="{{ url_for('main.editpost', id=post.id) }}">{{ post.clientname }}</a>
      ({{ post.clientemail }})<br>
      {{ post.clientinfo }}
    </li>
  {% endfor %}
</ul>
<div class="pagination">
  {% if prev_url %}
    <a href="{{ prev_url }}">Previous</a>
  {% endif %}
  {% if next_url %}
    <a href="{{ next_url }}">Next</a>
  {% endif %}
</div>
{% endblock %}